<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Weather Journal</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap"
            rel="stylesheet"
        />
    </head>

    <body>
        <div id="app">
            <header class="headline">Travel Planner</header>
            <form
                id="travel-form"
                name="travel-form"
                class="travel-form"
            >
                <div class="form-control">
                    <label for="location">Travel Destination</label>
                    <input
                        type="text"
                        id="location"
                        name="location"
                        placeholder="E.g. city name, zip codes"
                    />
                </div>
                <div class="form-control">
                    <label for="departure">Departure Date</label>
                    <input type="date" id="departure" name="departure" />
                </div>
                <div class="form-footer">
                    <div id="form-error-message"></div>
                    <div class="form-button-group">
                        <button id="add-trip" type="submit">Add New Trip</button>
                    </div>
                </div>
            </form>
            <div class="travel-entries">
                <div class="title">Upcoming Trips</div>
                <div id="entry-holder"></div>
            </div>
        </div>
    </body>
</html>
