.travel-entries {
    margin-top: 15px;
    padding: 10px 0;

    .title {
        color: #2B5F75;
        font-weight: bold;
        font-size: 1.2em;
        margin-bottom: 10px;
    }
}

#entry-holder {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, 360px);
}

.trip-entry {
    border: 1px solid #2B5F75;
    border-radius: 10px;
    overflow: hidden;

    .trip-image-container {
        overflow: hidden;

        img {
            max-width: 100%;
            height: auto;
        }
    }

    .trip-description {
        padding-left: 15px;

        .trip-location {
            font-size: 1.4em;
            margin: 0.5em 0;
        }

        .trip-departure-date {
            line-height: 2em;
        }

        .trip-weather {
            display: flex;
            align-items: flex-end;
            line-height: 2em;

            img {
                width: 2em;
                height: 2em;
                margin-left: 5px;
            }
        }
    }

    .trip-button-group {
        display: flex;
        justify-content: flex-end;
        margin: 10px 10px 14px;

        button.remove-trip {
            color: #2B5F75;
            background: transparent;
            border: 0 none;
            cursor: pointer;
            text-decoration: underline;

            &:hover {
                color: #000;
            }
        }
    }
}
